@page "/products/{page:int}"
@using ProductsCRUD.WebUI.Abstractions
@inject NavigationManager _Navigation;
@inject IProductsService _service;
@rendermode InteractiveServer

<h3>FindAll</h3>

<table>
    <tr>
        <th>Guid</th>
        <th>Nome</th>
        <th>Preço</th>
        <th></th>
        <th></th>
    </tr>
    @if (products != null)
    {
        @foreach (var product in products)
        {
            <tr>
                <th>@product.Id</th>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td><a href="/products/edit/@product.Id">Editar</a></td>
                <td><button @onclick="async () => await DeleteAsync(product)">Deletar</button></td>
            </tr>
        }
    }
</table>

<div class="paginator">
    @foreach(var pages in MakePaginator())
    {
        <a href="/products/@pages">@pages</a>
    }
</div>
